#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o
*.vscode

#Bash files
.bashrc
.bash_history
*run.sh

*.json

*.DS_Store
*:Zone.Identifier

#GDB
*.gdb_history
*.gdbinit
*.elf
