#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o


#Bash files
.bashrc
.bash_history
*run.sh

*.json

*.DS_Store
*:Zone.Identifier
*.vscode
*.x64BareBones.png

#GDB
*.gdb_history
*.gdbinit
*.elf

#PVS
*.PVS-Studio.log
*.report.tasks
*.strace_out
